@charset "UTF-8";

h1, h2, h3, h4, h5, h6 {
    color: #280004;
    letter-spacing: 1px;
    
}

#titulo {
    font-size: 3rem;
    font-weight: bold !important;
}

#membrete {
    font-size: 1.3rem;
}

.es-logo{
    font-family: 'Libre Baskerville', serif;
}

main{
    background-color: #ccc9a1;
    padding-top: 1rem;
    padding-bottom: 3rem;
}

.botonera-admin a {
    color: inherit !important;    
}

.botonera-admin a:hover {
	color: rgb(158, 155, 155) !important;
}
.bg-color-1 {
	background-color: #280004;
}
.bg-color-2 {
	background-color: #4C230A;
}
.bg-color-3 {
	background-color: #A53F2B;
}
.bg-color-4 {
	background-color: #F0FFCE;
}
.bg-color-5 {
	background-color: #CCC9A1;
}
.txt-color-1 {
	color: #280004;
}
.txt-color-2 {
	color: #4C230A;
}
.txt-color-3 {
	color: #A53F2B;
}
.txt-color-4 {
	color: #F0FFCE;
}
.txt-color-5 {
	color: #CCC9A1;
}